*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
  }

body{
    width: 100%;
    position: relative;
    font-family: 'poppins', sans-serif;
}

::selection{
    background: #1b1b1b;
    color: #fff;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.logo {
    height: 200px;
    width: 200px;
}

.navbar{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    background: #FFD0E7;
    z-index: 9;
}

.links-container{
    display: flex;
    list-style: none;
}

.link{
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}

.header{
    margin-top: 60px;
    width: 100%;
    height: calc(100vh + 160px);
    background: url("https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/v1555315082/shape/mentalfloss/screen_shot_2016-06-09_at_11.14.01_am.png?itok=YFL1uWGx");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content{
    text-align: center;
}

.heading{
    color: #FFD0E7;
    text-shadow: 2px 2px 2px #ff0000, 4px 4px 2px #00ff00;
    text-transform: capitalize;
    font-size: 80px;
    line-height: 60px;
    margin-bottom: 80px;
    display: block;
}

.heading .small{
    display: block;
    font-size: 40px;
}

.heading .no-fill{
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px black;
}

.subheader{
    padding: 10px 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
}


.overlay {
    position: fixed;
    display: none;
    width: 60%;
    height: 50vh;
    top: 3%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgray;
    z-index: 2;
    cursor: pointer;
    contain: content;
    padding-bottom: 4rem;
  }
  
  .overlay button:hover {
    background-color: antiquewhite;
    font-weight: bold;
  }
  
  .overlay input:hover {
    background-color: azure;
  }
  

/* gif stuff - not working atm :( */
#gifPopup label {

    color: rgb(2, 37, 3);
    font-weight: bold;
  }
  
  #gifSearch {
    width: 8rem;
    height: 1.2rem;
    text-align: center;
    margin-left: 1rem;
  }
  
  #giphySearchButton,
  #closeButton {
    padding: 0.2rem 0.8rem;
    margin: 1rem 0.2rem;
    border-radius: 5px;
    border: 2px white solid;
  }
  #gifPopup {
    text-align: center;
    /* display: block; */
  }
  #gifs {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .gif-img {
    height: 100px;
    display: inline;
    margin: 0 10px;
  }
  
  main {
    grid-area: main;
    background-color: rgb(255, 255, 255);
    height: 100%;
    contain: content;
    border-radius: 30px 30px 0 0;
    padding-bottom: 4rem;
  }
  
  section {
    width: 70%;
    margin: 3rem auto 0;
  }
  
  .main-form {
    width: 100%;
    height: 20vh;
    border: 16px solid rgb(240, 240, 240);
    border-radius: 12px 12px 0 0;
  }
  
  ::placeholder {
    text-align: center;
    font-style: italic;
    color: pink;
    opacity: 0.6;
    font-size: larger;
  }
  
  form textarea {
    width: 100%;
    height: 100%;
    border: none;
    text-align: left;
    resize: none;
    font-size: 0.8rem;
    line-height: 1.7rem;
    padding: 0.6rem;
  }


  
  #charCounterPost,
  #charCounterComment {
    height: 1rem;
    color: rgb(69, 73, 95);
    font-size: 0.8rem;
    text-align: right;
    margin-right: 0.6rem;
    margin-bottom: 0.2rem;
    font-style: italic;
  }
  
  .add-button {
    height: 60px;
    background-color: pink;
    border-radius: 0 0 12px 12px;
  
    border: none;
    width: 100%;
    font-size: 1rem;
    color: white;
  }
  .add-button:hover {
    background-color: black;
  }
  #addGif {
    height: 35px;
    background-color: pink;
  
    margin-top: 0.2rem;
  
    border: none;
    width: 100%;
    font-size: 1rem;
    color: white;
  }
  #addGif:hover {
    background-color: black;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  article {
    width: 70%;
    height: auto;
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    margin: 10px auto 15px auto;
    font-size: 0.9rem;
    position: relative;
    top: 1%;
    display: flex;
    flex-direction: column;
  }
  
  article .post {
    background-color: grey;
    padding: 2rem;
    text-align: left;
    border-radius: 5px 5px 0 0;
    font-size: larger;
  }
  
  article .reactions {
    border: 5px rgb(238, 236, 236) solid;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  article .reactions #emoji-box {
    width: 10vw;
    height: 4vh;
    /* border: lightgray solid 1px; */
    /* margin: auto auto auto 1rem; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  article .reactions .collapsible {
    height: 3.8vh;
    width: 2.6vw;
    border: none;
    margin: auto 1rem auto auto;
    background: url("./images/comment-shape.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
  }
  
  article .reactions .collapsible:hover {
    height: 4.2vh;
    width: 3vw;
    cursor: pointer;
  }
  
  /* article .reactions .collapsible:hover {
    height: 5vh;
  } */
  #postGifContainer {
    width: 70%;
  }
  .post-gif {
    overflow: hidden;
    width: 100%;
    border: 5px rgb(238, 236, 236) solid;
  }
  #gifToAdd {
    height: 50px;
    position: relative;
    bottom: 40px;
    left: -50px;
    display: block;
  }

/*   article .comments {
    background-color: rgb(231, 229, 229);
    padding: 1rem;
    display: none;
    overflow: hidden;
    transition: 1s;
  }
  
  article .comments h4 {
    margin-bottom: 1rem;
    text-align: center;
  }
  
  article .comments .comment-paragraph {
    margin: 1.5rem 0;
  }
  
  article .comments .add {
    background-color: rgb(231, 229, 229);
    border: none;
    font-size: 2rem;
    position: absolute;
    right: 0.3rem;
    bottom: 0;
  }
  
  .modal {
    width: 40vw;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }
  
  .modal form {
    border: 16px solid grey;
  } */
  
  /* Modal button */
/*   #form {
    background-color: grey;
    align-self: flex-end;
    padding: 0.5rem 2rem;
    justify-self: center;
    border-radius: 0 0 12px 12px;
    border: none;
  }
  
  .emoji {
    width: 30px;
    height: 30px;
  }
  
  div.emoji1 {
    background-image: url('./images/emoji1.png');
    background-size: cover;
  
  }
  
  div.emoji2 {
    background-image: url('./images/emoji2.png');
    background-size: cover;
  
  }
  
  
  div.emoji3{
    background-image: url('./images/emoji3.png');
    background-size: cover;
  
  }
  
  .emoji:hover {
    cursor: pointer;
    height: 35px;
    width: 35px;
  } */
  
/*   .pContainer {
    background-color: pink;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 11px;
  
    position: relative;
    right: -25px;
    top: -5px;
  } */
  

/* 
section {
    width: 70%;
    margin: 3rem auto 0;
} */
